.top-menu{
    display: flex;
    justify-content: space-between;
    &__add-chat{
        line-height: 40px;
        font-size: 28px;
        margin-left: 10px;
        color:darkgrey;
        cursor: pointer;
    }
    &__profile-link{
        text-decoration: none;
        color:darkgrey;
        line-height: 40px;
        margin-right: 10px;
        cursor: pointer;
        &:hover{
            color: @hover_color;
        }
    }
}
